// https://sass-guidelin.es/
// helpers folder instead of abstract

@import 
    "./helpers/variables", 
    "./helpers/function", 
    "./helpers/extends", 
    "./helpers/mixins";

@import 
    "./vendors/normalize";

@import 
    "./base/reset", 
    "./base/typography";

@import
    "./layout/container",
    "./layout/detail",
    "./layout/app";

@import 
    "./components/card",
    "./components/header",
    "./components/filter",
    "./components/tag",
    "./components/searchInput";

@import 
    "./pages/home";

@import 
    "./themes/dark", 
    "./themes/light";
