* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;

	&::after,
	&::before {
		box-sizing: border-box;
	}
}

select,
button,
input,
a {
	&:focus {
		outline: none;
	}
}

a {
	color: unset;
	text-decoration: none;
}
