.card {
    @extend %componentWrapper;
    ~ .card {
        margin-top: 20px;        
    }
    img {
        width: 100%;
        border-radius: $border-radius $border-radius 0 0;
    }
    &-item {
        padding: 30px;
        text-align: left;
        &-title {
            margin-bottom: 20px;
            & ~ * {
                margin: 20px 0;
            }
        }   
        p {
            font-weight: 600;
        }     
        span {
            font-weight: 300;
        }
    }
}