.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	@extend %componentWrapper;
    padding: 20px;
    h1 {
        font-size: 1rem;
    }
}

.theme {
	&-switch {
		border: none;
		background-color: transparent;
        color: var(--text-color);
        cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}
