.container {
    min-height: calc(100vh - 80px);
    padding: 20px;
}

.inputGroup {
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
    @include breakpoint(md) {
        flex-flow: row;
    }
}

.cardsGroup {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 87%;
    margin: auto;
    @include breakpoint(md) {
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 100%;
    }
}
